
.weather-item{
  border: solid black 5px;
  padding: 5px;
  margin: 0 auto;
}

.city-name{
  border: solid blue 5px;
}

.cloudy{
  background: linear-gradient(#5ab2ec, #dddddd, #cccccc, #dddddd, #5ab2ec);
}

.sunny{
  background: linear-gradient(#f5f659, #f4e11e, #fbcd0c, #f4e11e, #f5f659)
}

.rain{
  background: linear-gradient(#a4bec3, #636d83, #7d9fb0, #636d83, #a4bec3);
}